Q1. Explain with an example each when to use a for loop and a while loop.

ANS:for loop is used when you know how many times the loop should run.
The while loop is a kind of a loop that keeps running while a condition is True.

In [5]:
# for loop example 
myList = [1, 2, 3, 4, 5] 
 
for item in myList: 
    print(item)

1
2
3
4
5

In [13]:
# while loop example 
 
age = 1 
while age < 18: 
    print("You are still young") 
    age += 1 
print("You are old enough now!")

You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are still young
You are old enough now!

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [4]:
n=range(11)
sum=0
for i in n:
    sum=sum+i
sum

55

In [3]:
n1=range(1,11)
prod=1
for i in n1:
    prod=prod*i
prod

3628800

In [5]:
num2=int(input("enter number"))
sum1=0
con1=1
while con1<=num2:
    sum1=sum1+con1
    con1=con1+1
sum1

enter number 10

55

In [2]:
num3=int(input("enter number"))
prod1=1
con2=1
while con2<=num3:
    prod1=prod1*con2
    con2=con2+1
prod1

enter number 10

3628800

Q3. Create a python program to compute the electricity bill for a household.
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.

In [1]:
unit=int(input("Enter Unit"))
if unit<=100:
    unit=unit*4.5
elif unit>100 and unit<=200:
    unit=unit-100*6+100*4.5
elif unit>200 and unit<=300:
    unit=unit-200*10+100*6+100*4.5
else:
    unit=((unit-300)*20)+100*10+100*6+100*4.5
print(f"Electricity bill Rs.{unit}")

Enter Unit 310

Electricity bill Rs.2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [3]:
n3=range(1,101)
l3=[]
for i in n3:
    l3.append(i)
    i=i*i*i
    if i%4==0 or i%5==0:
        l3.append(i)
l3

[1,
 2,
 8,
 3,
 4,
 64,
 5,
 125,
 6,
 216,
 7,
 8,
 512,
 9,
 10,
 1000,
 11,
 12,
 1728,
 13,
 14,
 2744,
 15,
 3375,
 16,
 4096,
 17,
 18,
 5832,
 19,
 20,
 8000,
 21,
 22,
 10648,
 23,
 24,
 13824,
 25,
 15625,
 26,
 17576,
 27,
 28,
 21952,
 29,
 30,
 27000,
 31,
 32,
 32768,
 33,
 34,
 39304,
 35,
 42875,
 36,
 46656,
 37,
 38,
 54872,
 39,
 40,
 64000,
 41,
 42,
 74088,
 43,
 44,
 85184,
 45,
 91125,
 46,
 97336,
 47,
 48,
 110592,
 49,
 50,
 125000,
 51,
 52,
 140608,
 53,
 54,
 157464,
 55,
 166375,
 56,
 175616,
 57,
 58,
 195112,
 59,
 60,
 216000,
 61,
 62,
 238328,
 63,
 64,
 262144,
 65,
 274625,
 66,
 287496,
 67,
 68,
 314432,
 69,
 70,
 343000,
 71,
 72,
 373248,
 73,
 74,
 405224,
 75,
 421875,
 76,
 438976,
 77,
 78,
 474552,
 79,
 80,
 512000,
 81,
 82,
 551368,
 83,
 84,
 592704,
 85,
 614125,
 86,
 636056,
 87,
 88,
 681472,
 89,
 90,
 729000,
 91,
 92,
 778688,
 93,
 94,
 830584,
 95,
 857375,
 96,
 884736,
 97,
 98,
 941192,
 99,
 100,
 1000000]

In [4]:
num=int(input("enter number:"))
l4=[]
c1=1
while c1<num+1:
    l4.append(c1)
    d=c1*c1*c1
    if d%4==0 or d%5==0:
        l4.append(d)
    c1=c1+1
l4

enter number: 100

[1,
 2,
 8,
 3,
 4,
 64,
 5,
 125,
 6,
 216,
 7,
 8,
 512,
 9,
 10,
 1000,
 11,
 12,
 1728,
 13,
 14,
 2744,
 15,
 3375,
 16,
 4096,
 17,
 18,
 5832,
 19,
 20,
 8000,
 21,
 22,
 10648,
 23,
 24,
 13824,
 25,
 15625,
 26,
 17576,
 27,
 28,
 21952,
 29,
 30,
 27000,
 31,
 32,
 32768,
 33,
 34,
 39304,
 35,
 42875,
 36,
 46656,
 37,
 38,
 54872,
 39,
 40,
 64000,
 41,
 42,
 74088,
 43,
 44,
 85184,
 45,
 91125,
 46,
 97336,
 47,
 48,
 110592,
 49,
 50,
 125000,
 51,
 52,
 140608,
 53,
 54,
 157464,
 55,
 166375,
 56,
 175616,
 57,
 58,
 195112,
 59,
 60,
 216000,
 61,
 62,
 238328,
 63,
 64,
 262144,
 65,
 274625,
 66,
 287496,
 67,
 68,
 314432,
 69,
 70,
 343000,
 71,
 72,
 373248,
 73,
 74,
 405224,
 75,
 421875,
 76,
 438976,
 77,
 78,
 474552,
 79,
 80,
 512000,
 81,
 82,
 551368,
 83,
 84,
 592704,
 85,
 614125,
 86,
 636056,
 87,
 88,
 681472,
 89,
 90,
 729000,
 91,
 92,
 778688,
 93,
 94,
 830584,
 95,
 857375,
 96,
 884736,
 97,
 98,
 941192,
 99,
 100,
 1000000]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [26]:
string = "I want to become a data scientist"
count=0
for i in string:
    if i=="a" or i=="e"or i=="i"or i=="o"or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
        count=count+1
    else:
        con
count

1